@model IEnumerable<Core.Dto.PMDb.TaskGroupModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}





<div class="card">
    <div class="card-header">
        <h5 class="">Sprint Backlog</h5>
        
    </div>
    <div class="table-responsive text-nowrap">
        <table id="datatable" class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>Task Group Name</th>
                            <th>Project Name</th>


                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => i.TaskGroupName)</td>
                                    <td>@Html.DisplayFor(model => i.ProjectName)</td>


                                    <td>
                                        <a href="/SprintBackLog/ConfigureTaskGroup/@i.Id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Configure </a>
                                    
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
    </div>
</div>




@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
}