@model IEnumerable<Core.Dto.PMDb.TaskModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>My Bugs (Make sure you have chosen a Project)</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @*<p>Simple table with project listing with progress and editing options</p>*@
                <a href="/Bugs/Create/" class="btn btn-primary">Input Bugs</a>
                <br />
                <!-- start project list -->
                <table id="datatable" class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>Bugs Name</th>
                            <th>Project</th>
                            <th>Severity</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => i.TaskName)</td>
                                    <td>@Html.DisplayFor(model => i.ProjectName)</td>
                                    <td>@Html.DisplayFor(model => i.Severity)</td>
                                    <td><button type="button" class="btn btn-success btn-xs">@Html.DisplayFor(model => i.StatusName)</button></td>
                                    <td>
                                        @if (i.StatusName == "Completed")
                                        {
                                            @*<a href="/Task/Edit/@i.Id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit </a>*@
                                            <a href="/Bugs/Details/@i.Id" class="btn btn-info btn-xs"><i class="fa fa-folder"></i>View Details </a>
                                        }
                                        else
                                        {
                                            <a href="/Bugs/Edit/@i.Id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="/Bugs/Details/@i.Id" class="btn btn-info btn-xs"><i class="fa fa-folder"></i>View Details </a>
                                             <a href="/Bugs/Delete/@i.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                <!-- end project list -->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                $('#datatable').dataTable();
            });
    </script>
}
