@model IEnumerable<Core.Dto.PMDb.TaskGroupModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 class="">TaskGroup</h5>
        <a href="@Url.Action("Create","TaskGroup")" class="btn btn-primary">Create</a>
    </div>
    <div class="table-responsive text-nowrap">
       <table id="datatable" class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>Task Group Name</th>
                            <th>Project Name</th>
                            <th>Is Active</th>
                           
                          
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => i.TaskGroupName)</td>
                                    <td>@Html.DisplayFor(model => i.ProjectName)</td>
                                  @if (i.IsActive == true)
                                  {
                                    <td>Active</td>
                                  }
                                  else
                                  {
                                      <td>Not Active</td>
                                  }
                                    
                                    <td>
                                        <a href="/TaskGroup/Edit/@i.Id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                        <a href="/TaskGroup/Details/@i.Id" class="btn btn-info btn-xs"><i class="fa fa-folder"></i>View Details </a>
                                        <a href="/TaskGroup/Delete/@i.Id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
    </div>
</div>




@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
}

