@model IEnumerable<Core.Dto.PMDb.ViewDocumentByProject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}

@*<h2>Index</h2>*@




<div class="card">
    <div class="card-header">
        <h5 class="">Document</h5>
        <a href="@Url.Action("CreateDocumentByProject","Document")" class="btn btn-primary">Create</a>
    </div>
    <div class="table-responsive text-nowrap">
        <table id="datatable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Document</th>
                    <th>Project Name</th>
                    @*<th>Is Public</th>*@
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var i in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => i.DocumentName)</td>
                            <td>@Html.DisplayFor(model => i.ProjectsName)</td>

                            <td>

                                <a href="/Document/EditDocumentByProject/@i.id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="/Document/DetailsDocumentByProject/@i.id" class="btn btn-info btn-xs"><i class="fa fa-folder"></i>View Details </a>
                                <a href="/Document/DeleteDocumentByProject/@i.id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>




@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
}
