@model Core.Dto.PMDb.Category

@{
    ViewBag.Title = "Create Category";
    Layout = "~/Views/Shared/Template.cshtml";
}


@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { Class = "", Id = "formAddRoles" }))
{
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Create Category</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>


                </ul>


                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

            <div class="form-horizontal form-label-left input_mask">

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                        Category Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextBoxFor(model => model.Categoryname, new { Class = "form-control col-md-7 col-xs-12" })
                       
                    </div>
                </div>

                

                <div class="item form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                        Description
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        @Html.TextAreaFor(model => model.Description, new { Class = "form-control col-md-7 col-xs-12" })
                    </div>
                </div>
                                

                <div class="item form-group">
                    <div class="control-label col-md-5 col-sm-3 col-xs-12">
                        <input type="submit" class="btn btn-success" value="Submit" />
                        @*<button type="button" class="btn btn-warning">Back To List</button>*@
                        <a href="/Category/Index/" class="btn btn-warning">Back To List</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        </div>


                    </div>

        </div>
    </div>
</div>
    </div>
}