@model IEnumerable<Core.Dto.PMDb.ViewRolesProjectEmployee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Template.cshtml";
}




<div class="card">
    <div class="card-header">
        <h5 class="">Employee</h5>
        <a href="@Url.Action("Create","EmployeeRolesProject")" class="btn btn-primary">Create</a>
    </div>
    <div class="table-responsive text-nowrap">

        <table id="datatable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Roles Name</th>
                    <th>Project Name</th>

                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var i in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => i.EmployeeName)</td>
                            <td>@Html.DisplayFor(model => i.RolesName)</td>
                            <td>@Html.DisplayFor(model => i.ProjectsName)</td>

                            <td>

                                <a href="/EmployeeRolesProject/Edit/@i.id" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                <a href="/EmployeeRolesProject/Details/@i.id" class="btn btn-info btn-xs"><i class="fa fa-folder"></i>View Details </a>
                                <a href="/EmployeeRolesProject/Delete/@i.id" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>




@section scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').dataTable();
        });
    </script>
}
