@{
    
     List<Core.Dto.PMDb.ViewModelProjectGroup> ListProject = ViewBag.ListProject;
      Core.Dto.PMDb.ViewModelsProjectEmployee ListSubProject = ViewBag.ListSubProject;
   
    
}

  

@foreach (var mp in ListProject.DistinctBy(x=>x.ProjectGroupId))
{
    <li class="menu-item dropdown dropdown-submenu">
        <a href="#" class="dropdown-toggle"
           data-toggle="dropdown">@mp.ProjectGroupName</a>
        <ul class='dropdown-menu' id="ProjectList">
           

            @{
            
                    foreach (var cp in ListSubProject.ViewProjectGroupEmployeeModelList.Where(p => p.ProjectGroupId == mp.ProjectGroupId))
                    {
       
                        <li class='menu-item dropdown dropdown-submenu' value ="@cp.ProjectId"><a href="#">@cp.ProjectName</a></li>

                        if (ListSubProject.ViewProjectGroupEmployeeModelList.Count(p => p.ProjectGroupId == cp.ProjectGroupId) > 0)
                        {
                            @:<li>
                        }      
                       
      
                    }
            
            }

        </ul>
   </li>
    
       
}

